.actors-sidebar .party.activated .party-header {
    background: #254c84 !important;
}

#controls {
    opacity: 1 !important;
}

#controls ol.control-tools>li.active,
#controls ol.control-tools>li:hover {
    border: 1px solid var(--color-border-highlight-alt) !important;
    border-bottom: 1px solid var(--color-border-highlight) !important;
    box-shadow: 0 0 10px var(--color-shadow-highlight) !important;
}

.window-app {
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

.journal-sheet.sevendooms-wrapper:not(.minimized).window-app {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

#andael-area-title {
    position: absolute;
    color: white;
    left: 15%;
    bottom: 15%;
    font: 61px 'Modesto Condensed';
}

#andael-canvas-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
}

#loading {
    transform: scale(0, 0);
}

/* improve quest log */
/* Allow the quest details dialog to get much smaller. */
.window-app.forien-quest-preview {
    min-width: 500px !important;
    min-height: 500px !important;
}

.application .window-content {
    padding: 0.5rem !important;
}

.standard-form {
    gap: .5rem !important;
}

.standard-form fieldset {
    gap: .5rem !important;
    padding: 5px 10px !important;
}

.application .scrollable {
    --scroll-margin: 0.25rem !important;
    padding-right: 0 !important;
}

.pf2e-bestiary-tracking.bestiary .monster-image.sepia {
    filter: sepia(0.5) hue-rotate(-26deg) saturate(4) grayscale(0.5) !important;
}
